* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.faq {
    margin-bottom: 20px;
}

.faq h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.faq p {
    font-size: 16px;
}

.icon-link {
    margin-bottom: 10px;
    text-align: right;
}

.icon-link img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.icon-link a {
    color: #0074D9;
    text-decoration: none;
    font-size: 18px;
}

.icon-link a:hover {
    color: #0044ff;
}

h1 { font-size: 3.5em; }
h2 { font-size: 2.7em; }
h3 { font-size: 2em; }
p { font-size: 1.25em; }
ul { list-style: none; }
li { font-size: 1.25em; }

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgba(43, 153, 226, 0.767);
}

button[type="submit"] {
    padding: 5px 20px;
    background-color: #008cff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: right;
}

button:hover {
    background-color: rgb(43, 174, 226);
}

.container2 {
    max-width: 1400px;
    margin: auto;
}

.color-acento { color: rgb(43, 168, 226); }

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(43, 174, 226);
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: rgb(43, 183, 226);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/fotos-premium/pila-coloridos-libros-colores-pastel-estante-biblioteca-rayos-sol-caen-sobre-libros-traves-ventana-concepto-educacion-volver-escuela-fondo_131017-8.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.75em;
}

#somos-proya .container {
    text-align: center;
    padding: 200px 12px;
}

#nuestros-productos {
    background-color: rgb(33, 145, 165);
    color: white;
    text-align: center;
}

#nuestros-productos .container {
    padding: 150px 12px;
}

#nuestros-productos h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-productos p {
    display: none;
}

#nuestros-productos .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/front-end.jpg");
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/full-stack.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/python.jpg");
}

#caracteristicas .container {
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li {
    margin: 16px 0px;
    font-weight: bold;
}

#final2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(12, 154, 173, 0.979);
    color: white;
    height: 80vh;
}

#final2 h2 {
    font-size: 7vw;
}

#final2 button {
    font-size: 5vw;
}

footer {
    background-color: rgb(230, 230, 230);
    text-align: center; 
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
    text-align: center;
}

footer .container2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1 {
        font-size: 5em;
    }

    #somos-proya .container {
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2 {
        margin-top: 0px;
    }

    #somos-proya .img-container {
        background-image: url(https://i.imgur.com/I5cO3My.jpeg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 600px;
    }

    #nuestros-productos .productos {
        display: flex;
        justify-content: center;
    }

    #nuestros-productos p {
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-productos h2 {
        font-size: 4em;
    }

    #nuestros-productos h3 {
        margin-top: 0;
    }

    #nuestros-productos .carta {
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .carta:first-child {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/front-end-cropped.jpg");
    }

    .carta:nth-child(2) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/full-stack-cropped.jpg");
    }

    .carta:nth-child(3) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/python-cropped.jpg");
    }

    #caracteristicas {
        background-image: url("https://blogs.iadb.org/conocimiento-abierto/wp-content/uploads/sites/10/2019/12/banner-lecciones-aprendidas-proyectos-desarrollo-2019.jpg");
        background-repeat: no-repeat;
        background-size: 800px 500px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container {
        text-align: initial;
    }

    #caracteristicas ul {
        margin-left: 100px;
    }

    #final2 h2 {
        font-size: 5em;
    }

    #final2 button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }
}

#registrarse {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

#registrarse .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#registrarse h3 {
    margin-top: 0;
    font-size: 3.2em;
    text-align: center;
    color: rgb(0, 0, 0);
}

#registrarse h1 {
    margin-top: 0;
    font-size: 1.85em;
    color: rgb(0, 0, 0);
    text-align: center;
}



/* Resources Section */
.resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.resource-item {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resource-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.resource-item p {
    font-size: 16px;
    margin-bottom: 20px;
}

.resource-item a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.resource-item a:hover {
    background-color: #004da3;
}

